*{
	margin: 0;
	font-family: arial;
	color: darkorange;
}

body{
	background-size: 100% 100%;
	background-attachment: fixed;
}

main header h1{
	font-size: 100px;
}

main header h2{

}

main header nav{
	display: flex;
	margin: 40px 0px;
	padding: 4px ;
	border-top: .5px solid;
	border-bottom: .5px solid;
	color: darkorange;
}

main header nav p a{
	text-decoration: none;
	color: darkorange;
	padding: 0px 20px;
}

footer{
	display: flex;
}

footer #icono1{
	padding: 5px 20px;
}

footer #icono2{
	padding: 5px 20px;
}

footer p{
	padding: 5px 20px;
}
